@import "tailwindcss";
/* Import Poppins from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap');

@theme {
  --font-poppins: "Poppins", sans-serif;
}

/* Optional: Set as default for the whole video */
@layer base {
  body {
    font-family: var(--font-poppins);
  }
}